
*, *:before, *:after {
    -webkit-box-sizing: border-box !important;
    -moz-box-sizing: border-box !important;
    -ms-box-sizing: border-box !important;
    box-sizing: border-box !important;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Exo 2', sans-serif;
    font-size: 16px;
    color: #111238;
}

.bg-service-1{
    background-image: url('../img/bg-service-1.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.bg-service-2{
    background-image: url('../img/bg-service-2.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.bg-service-3{
    background-image: url('../img/bg-service-3.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.bg-service-4{
    background-image: url('../img/bg-service-4.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-service-5{
    background-image: url('../img/bg-service-5.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.bg-service-6{
    background-image: url('../img/bg-service-6.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.bg-service-7{
    background-image: url('../img/bg-service-7.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.bg-service-8{
    background-image: url('../img/bg-service-8.png');
    background-repeat: no-repeat;
    background-size: cover;
}
a{
    text-decoration: none;
}
.active{
    background: #eff3ff;
    font-weight: 800;
}

.header {
    max-height: 60px;
    margin-bottom: 15px;
}

.header-logo{
    font-weight: bold;
}

.header-logo img {
    height: 60px;
    width: 35px;
}

.header-logo-text {
    font-size: 1rem;
    font-weight: 700;
    vertical-align: middle;
}

.header-connect {
    text-align: right;
    padding: 15px 25px;
}
.header-connect-phone {
    display: block;
    font-size: 16px;
}
.header-connect-email {
    display: block;
    font-size: 14px;
}
/* Menu */
.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: #344D90;
    margin-bottom: 20px;
}
.menu-nav {
    display: flex; 
}
.menu-nav * {
    font: 500 15px 'Exo 2';
}
.menu-nav__link {
    position: relative;
    display: block;
    padding: 10px 15px;
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
    background-color: #344d90;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    transition: background-color 0.2s;
}
.menu-nav__link:hover {
    background-color: #2e4585
}
.menu-nav__link-group {
    position: absolute;
    min-width: 100%;
    top: 100%;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
    z-index: 1  ;
}
.menu-nav__link:hover .menu-nav__link-group {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transition: opacity 0.2s, visibility 0.2s, transform 0.2s;
}
.menu-nav__link-main {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Menu end */
.text-right {
    text-align: right !important;
}
.text-left {
    text-align: left !important;
}
.text-center { 
    text-align: center !important;
}
/* Burger menu */
.menu-btn {
    background: none;
    border: none;
    margin: auto;
    color: #333333;
    cursor: pointer;
    display: none;
}
/* Burger menu end */

/* Media query for mobile phones */
@media only screen and (max-width: 764px) {
    .header-connect-phone, .header-connect-email {
        font-size: 11px;
    }
    .menu {
        display: none;
        align-items: start;
        height: 100vh;
    }
    .menu-nav {
        flex-direction: column;
        width: 100%;
    }
    .menu-nav__link {
        text-align: center;
    }
    .menu-btn {
        display: block;
    }
    .menu-nav__link-main {
        height: 40px;
    }
    .header-logo img {
        width: 30px;
    }
    .header-logo-text {
        font-size: 11px;
    }
}
@media only screen and (max-width: 360px) {
    .header-logo img {
        width: 28px;
    }
}
/* Media query for mobile phones end */


nav {
    justify-content: space-between;
}

.menu a{
    color:white;
}
.block-margin{
    display: block;
}

.title{
    display: block;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 10px;
}
.company{
    text-align: justify;
}
.right-menu{
    list-style: none;
    padding: 0px;
    margin: 0px;
    font-size: 16px;
    background: #f6f6f6;
    border-radius: 2px;
}
.right-menu li{
    margin-left: 10px;
    padding: 5px;
    margin-bottom: 5px;
    font-weight: 600;
}
.right-menu li:hover{
    background: #eff3ff;
    font-weight: 800;
}
.right-menu a{
    color: #121b33;
}


.card-service{
    min-height: 410px;
    text-align: center;
    color:white;
    margin-bottom: 10px;

}
.body-center{
    flex-direction: column;
    justify-content: center ;
}
.card-service-title{
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 20px;
    
}
.card-service-icon{
    margin-bottom: 20px;
}
.card-service-icon img{
    width: 75px;
}
.card-service-text{
    font-size: 18px;
    font-weight: 600;
}

.service{
    display: flex;
    flex-wrap: wrap;
    flex-direction:column;
}
.service-work{
    flex: 1 16%;
}
.card-service-footer a{
    color:white;
}
.card-service-footer a:hover{
    color:white;
    font-weight: 700;
}

.partners-card{
    min-height: 82px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.partners-logo-img{
    width: 120px;
}
.partners-logo-img-abbmo{
    width: 110px;
}
.contact-title{
    text-transform: uppercase;
    font-size: 14px;
}
.content-text{
    font-size: 18px;
}

.footer{
    background: #344D90;
    display: block;
    height: auto;
    color:white;
}

.footer-logo{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 200px;
}
.footer-info{
    font-size: 14px;
    margin-bottom: 5px;
    font-weight: 300;
}

.footer-confident{
    font-size: 14px;
    font-weight: 300;
}
.align-end{
    text-align: end;
}

.footer-text-title{
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 5px;
}
.footer-ul-menu{
    list-style: none;
    padding-left: 0px;
    font-size: 13px;
    font-weight: 200;
}
.footer-ul-menu li{
    margin-bottom: 5px;
}
.footer-ul-menu a{
  text-decoration: none;
  color:white;
}
.footer-ul-menu a:hover{
    background:#004a7c;
    padding: 5px;
    font-weight: 400;
  }
 /* CSS для ширины от 768px до 991px */
@media (max-width: 991px) {
    

}